<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProjEric1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProjEric1Lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A99AEAAD1B597F7900BBBD08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99AEAC61B597F7900BBBD08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE7F62EA1CF78829008771DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEEABBA81CF7874200C03C23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
